* {
    margin: 0;
    border: border-box;
}

/* shared styles */

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

/* header styles */
/* header section styles */
.header-section {
    height: 48px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.header-section-info {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.header-section-link {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
}
.language-select {
    color: #FAFAFA;
    background-color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;   
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

/* nav-logo */
.nav-logo {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    grid-area: nav-logo;
}

/* nav-menu styles */
.nav-menu {
    grid-area: nav-menu;
}
.nav-menu li{
    display: inline;
    list-style-type: none;
    margin-right: 40px;
}
.nav-menu li:hover {
    border-bottom: 2px solid black;
}

.nav-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* nav-icon styles */
.nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav-icon;
}

.nav-icon > i {
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav-search input {
    padding: 7px 10px 7px 20px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    border: none;
}
.nav-search > i {
    font-size: 1.1rem;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.hero-section li {
    list-style-type: none;
    margin-bottom: 14px;
    border: 2px solid transparent;
}

.hero-section li:hover {
    border-bottom: 2px solid black;
    transition: all .5s ease-in;
}

/* hero option */
.hero-option li select {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.hero-option li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

/* hero slider */
.hero-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.slider-info {
    color: white;
    padding-left: 50px;
}
.info-title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.info-title > i {
    font-size: 50px;
}
.info-description {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
    width: 400px;
    margin-bottom: 20px;
}

.info-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FAFAFA;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FAFAFA;
}
.info-button:hover {
    background-color: rgb(255, 123, 0);
    transition: all .5s ease-in;
    border-radius: 4px;
}


/* flash sale section styles */
.flash-sale-section {
    margin-bottom: 30px;
    margin-top: 110px;
}
.catagory-section {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    color: #DB4444;
    margin-left: 60px;
    margin-bottom: 25px;
}
.section-box {
    height: 40px;
    width: 20px;
    background-color: #DB4444;
    border-radius: 4px;
}
.section-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

/* catagory header section */
.catagory-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 75px;
}

/* catagory header title */
.catagory-header-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px;
    margin-left: -20px;
}
/* countdown-timer styles */
.countdown-timer{
    display: flex;
    gap: 25px;
}
.countdown-timer li {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.countdown-timer li span {
    display: block;
}
#days, #hours, #minute, #seconds {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.28px;
}

#seperator {
    color: #E07575;
    font-size: 25px;
}

/* catagory icon */
.catagory-icon {
    font-size: 2rem;
}

.catagory-icon > i {
    margin-left: 60px;
}

/* peoduct-sectioin */
.product-container {
    width: 270px;
    margin-bottom: 40px;
}
.product-container:hover {
    box-shadow: 1px 6px 12px -5px rgb(12, 8, 8);
    transition: all .2s ease-in;
}
/* .product-section {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-left: 60px;
} */
.product-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
}
.product {
    background-color: #F5F5F5;
    width: 270px;
    height: 250px;
    padding-top: 12px;
    margin-bottom: 15px;
}
.discount-option {
    padding: 4px 12px;
    background-color: #DB4444;
    border-radius: 4px;
    color: #fff;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.no-discount {
    display: none;
}
.new-product {
    padding: 4px 12px;
    background-color: #0F6;
    border-radius: 4px;
    color: #fff;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 40px;
    position: absolute;
    margin-top: 162px;
}
.add-to-cart p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.product-icon {
    position: absolute;
    margin-left: 225px;
    margin-top: -35px;
    font-size: 1.2rem;
    
}
.product-icon i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.product-title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}

.product-price {
    color: #DB4444;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.delete-price {
    color: #00000077;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 5px;
}
.product-review {
    display: flex;
    align-items: center;
    gap: 5px;
}
.product-sold-count {
    color: #000000b6;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700px;
}

/* primary button styles */
.primary-btn {
    display: flex;
    justify-content: center;
}
.primary-button {
    margin-top: 60px;
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 4px;
}
.primary-button a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.primary-button:hover {
    background-color: rgb(255, 136, 0);
    letter-spacing: 1.2px;
    transition: all 0.5s linear 0.4s;
}

/* catagory icon container */
.catagory-icon-container {
    margin: 60px 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;

}
.catagory-icon-box {
    width: 140px;
    height: 130px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* catagory icon-box hover styles */
.catagory-icon-box {
    box-shadow: 1px 5px 3px -5px rgb(3, 4, -7);
}
.catagory-icon-box:hover {
    background-color: #db4444;
    color: white;
    transition: background-color .6s ease-in;
}

.catagory-icon-box a {
    color: black;
}
.catagory-icon-box a:hover {
    color: rgba(255, 255, 255, 0.904);
}

.catagory-icon-box a > i {
    font-size: 2rem;
}
.catagory-icon-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
hr {
    margin: 0 60px;
    opacity: 0.3;
}

/* catagory button */

.catagory-button {
    padding: 16px 48px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
}
.catagory-button:hover {
    background-color: rgb(255, 136, 0);
    letter-spacing: 1.2px;
    transition: all 0.5s linear 0.4s;
}
.catagory-button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* hero section 02 styles */
.hero-section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    margin: auto 60px;
    margin-top: 100px;
}
.hero-section2-info {
    margin-top: 30px;
    margin-bottom: 30px;;
}
.hero-section2-title {
    margin-top: 30px;
}
.hero-section2-name {
    color: #0F6;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 30px;
}
.hero-section2-title {
    width: 450px;
    height: 120px;
    color: #FAFAFA;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
    margin-bottom: 30px;
}
.hero-countdown {
    display: flex;
    gap: 25px;
    margin-left: -40px;
    margin-bottom: 30px;
}
.hero-countdown li {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.hero-countdown li span {
    display: block;
}
.hero-button {
    padding: 16px 48px;
    background-color: #0F6;
    border: none;
    border-radius: 5px;
}
.hero-button:hover {
    background-color: rgb(255, 136, 0);
    letter-spacing: 1.2px;
    transition: all 0.5s linear 0.4s;
}
.hero-button a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}


/* featured section styles */
.featured-section {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 40px 60px;
}
.featured-column {
    width: 570px;
    height: 600px;
    background-color: #000;
    border-radius: 5px;
}
.column-img1 {
    background-image: url('../Images/featured-img/column-img1.png');
    height: 511px;
    width: 511px;
    background-size: cover;
    background-position: center;
    margin-top: 89px;
    margin-left: 40px;
}
.featured-column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.fbox1 {
    width: 570px;
    height: 284px;
    background-color: #000;
    grid-column: span 2;
    border-radius: 5px;
}
.fbox2 {
    width: 270px;
    height: 284px;
    background-color: #000;
    border-radius: 5px;
}
.column-img2 {
    background-image: url('../Images/featured-img/cimg2.png');
    height: 282px;
    width: 432px;
    background-size: cover;
    background-position: center;
    margin-top: 2px;
    margin-left: 135px;
}
.column-img3 {
    background-image: url('../Images/featured-img/cimg3.png');
    height: 221px;
    width: 190px;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    margin-left: 40px;
}
.column-img4 {
    background-image: url('../Images/featured-img/cimg4.png');
    height: 203px;
    width: 201px;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    margin-left: 40px;
}

/* featured section info */
.featured-info1 {
    position: absolute;
    margin-top: 350px;
}
.featured-info2 {
    position: absolute;
    margin-left: -100px;   
    margin-top: 131px;
}
.featured-info3, .featured-info4 {
    position: absolute;
    margin-top: 125px;
    margin-left: -5px;
}
.feature-title {
    color: #FAFAFA;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.72px;
    margin-bottom: 16px;
}
.featured-description {
    color: #fafafae1;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 16px;
    width: 242px;
}
.featured-button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: white;   
}
.featured-button:hover {
    background-color: rgb(255, 123, 0);
    transition: all .5s ease-in;
    border-radius: 4px;
}
.featured-button a {
    font-size: 16px;
    font-weight: 600;
    color: #FAFAFA;
    line-height: 24px;
    text-decoration: none;
    margin-left: -5.5px;
}















/* Responsive styles */
/* media query for mobile device */
@media screen and (max-width: 576px) {
    /* header section */
    .header-section{
        flex-direction: row-reverse;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .header-section-info{
        margin-left: 5px;
    }

    /* navbar */
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-menu li {
        margin-right: 10px;
    }

    /* hero-section */
    .hero-section {
        flex-direction: column;
    }
    .hero-option {
        margin-left: 50px;
    }
    .info-description {
        width: auto;
    }
    .hero-slider {
        flex-direction: column;
        margin-top: 20px;
        padding-top: 15px;
        width: 100%;
        gap: 20px;
    }

    .slider-img img {
        width: 100%;
    }

    /* flash sale section media query */
    .catagory-section {
        margin-left: 40px;
    }
    .catagory-header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        margin-left: -5px;
    }
    .catagory-header-title {
        margin-left: 45px;
    }
    .countdown-timer {
        gap: 12px;
    }
    .catagory-icon {
        display: none;
    }
    /* product section */

    .product-section{
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 60px; 
    }

    /* catagroy icon container */
    .catagory-icon-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* catagory button */
    .catagory-button {
        margin-left: 45px;
    }

    /* second hero section */

    .hero-section2 {
        flex-direction: column;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        gap: 30px;
    }
    .hero-section-info {
        margin-left: 5px;
    }
    .hero-section2-title {
        width: 350px;
        font-size: 42px;
    }
    .hero-countdown {
        margin-top: 80px;
    }
    .hero2-img {
        width: 350px;
    }

    /* featured section media query */
    .featured-section {
        flex-direction: column;
        margin: auto 0;
        gap: 20px;
    }
    .featured-column {
        height: 400px;
        width: 350px;
    }
    .featured-column2 {
        gap: 20px;
    }
    .column-img1 {
        margin: 0;
        height: 356px;
        width: 343px;
        margin-top: 43px;
        margin-left: 13px;
    }
    .column-img2 {
        height: 205px;
        width: 358px;
        margin-top: 195px;
        margin-left: -4px;
    }
    .column-img3 {
        height: 135px;
        width: 110px;
        margin-top: 35px;
        margin-left: 28px;
    }
    .column-img4 {
        height: 116px;
        width: 110px;
        margin-top: 39px;
        margin-left: 28px;
    }
    .featured-info1 {
        position: absolute;
        margin-top: 212px;
        margin-left: 12px;
    }
    .featured-info2 {
        position: absolute;
        margin-left: 28px;
        margin-top: -159px;
    }
    .featured-info3, .featured-info4 {
        display: none;
    }
    .fbox1 {
        height: 400px;
        width: 350px;
    }
    .fbox2 {
        height: 200px;
        width: 164px;
    }
}












/* media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    .navbar {
        display: grid;
        grid-template-areas:
        "nav-logo   nav-icon"
        "nav-menu    nav-menu"
        ;
        gap: 20px;
        align-items: flex-start;
    }

    /* hero section */
    .hero-slider {
        flex-direction: column-reverse;
    }

    /* flash sale section */
    .catagory-icon {
        display: none;
    }

    /* product-section */
    .product-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 100px;
    }

    /* catagory icon container */
    .catagory-icon-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    /* second hero section styles */
    .hero-section2 {
        flex-direction: column-reverse;
        gap: 40px;
        margin: 40px 0;
    }
    .hero-section2-info {
        margin-bottom: 30px;
    }
    .hero-section2-img {
        margin-top: 30px;
    }

    /* featured section media query for medium/large device */
    .featured-section {
        flex-direction: column;
        margin: auto 15px;
    }
    .featured-column {
        height: 550px;
    }
    .column-img1 {
        margin-top: 38px;
    }
}




















