* {
    margin: 0;
    border: border-box;
}

/* shared styles */

body {
    font-family: 'Inter', sans-serif;
}

/* header styles */
/* header section styles */
.header-section {
    height: 48px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.header-section-info {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.header-section-link {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
}
.language-select {
    color: #FAFAFA;
    background-color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;   
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

/* nav-logo */
.nav-logo {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    grid-area: nav-logo;
}

/* nav-menu styles */
.nav-menu {
    grid-area: nav-menu;
}
.nav-menu li{
    display: inline;
    list-style-type: none;
    margin-right: 40px;
}
.nav-menu li:hover {
    border-bottom: 2px solid black;
}

.nav-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* nav-icon styles */
.nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav-icon;
}

.nav-icon > i {
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav-search input {
    padding: 7px 10px 7px 20px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    border: none;
}
.nav-search > i {
    font-size: 1.1rem;
}

/* Responsive styles */

/* media query for mobile device */
@media screen and (max-width: 576px) {
    /* header section */
    .header-section{
        flex-direction: row-reverse;
        padding-left: 10px;
    }
    .header-section-info{
        margin-left: 5px;
    }

    /* navbar */
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-menu li {
        margin-right: 10px;
    }
}

/* media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    .navbar {
        display: grid;
        grid-template-areas:
        "nav-logo   nav-icon"
        "nav-menu    nav-menu"
        ;
        gap: 20px;
        align-items: flex-start;
    }
}