* {
    margin: 0;
    border: border-box;
}

/* shared styles */

body {
    font-family: 'Inter', sans-serif;
}

/* header styles */
/* header section styles */
.header-section {
    height: 48px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
.header-section-info {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.header-section-link {
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
}
.language-select {
    color: #FAFAFA;
    background-color: #000;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;   
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

/* nav-logo */
.nav-logo {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    grid-area: nav-logo;
}

/* nav-menu styles */
.nav-menu {
    grid-area: nav-menu;
}
.nav-menu li{
    display: inline;
    list-style-type: none;
    margin-right: 40px;
}
.nav-menu li:hover {
    border-bottom: 2px solid black;
}

.nav-menu li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* nav-icon styles */
.nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav-icon;
}

.nav-icon > i {
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav-search input {
    padding: 7px 10px 7px 20px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    border: none;
}
.nav-search > i {
    font-size: 1.1rem;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.hero-section li {
    list-style-type: none;
    margin-bottom: 14px;
    border: 2px solid transparent;
}

.hero-section li:hover {
    border-bottom: 2px solid black;
    transition: all .5s ease-in;
}

/* hero option */
.hero-option li select {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.hero-option li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

/* hero slider */
.hero-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.slider-info {
    color: white;
    padding-left: 50px;
}
.info-title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.info-title > i {
    font-size: 50px;
}
.info-description {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1.92px;
    width: 400px;
    margin-bottom: 20px;
}

.info-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FAFAFA;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FAFAFA;
}
.info-button:hover {
    background-color: rgb(255, 123, 0);
    transition: all .5s ease-in;
}


/* flash sale section styles */
.flash-sale-section {
    margin-bottom: 30px;
}
.catagory-section {
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    color: #DB4444;
    margin-left: 60px;
    margin-bottom: 25px;
}
.section-box {
    height: 40px;
    width: 20px;
    background-color: #DB4444;
    border-radius: 4px;
}
.section-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

/* catagory header section */
.catagory-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* catagory header title */
.catagory-header-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px;
}
/* countdown-timer styles */
.countdown-timer{
    display: flex;
    gap: 25px;
}
.countdown-timer li {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.countdown-timer li span {
    display: block;
}
#days, #hours, #minute, #seconds {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.28px;
}

#seperator {
    color: #E07575;
    font-size: 25px;
}

/* catagory icon */
.catagory-icon {
    font-size: 2rem;
}

.catagory-icon > i {
    margin-left: 60px;
}


/* Responsive styles */

/* media query for mobile device */
@media screen and (max-width: 576px) {
    /* header section */
    .header-section{
        flex-direction: row-reverse;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .header-section-info{
        margin-left: 5px;
    }

    /* navbar */
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .nav-menu li {
        margin-right: 10px;
    }

    /* hero-section */
    .hero-section {
        flex-direction: column;
    }
    .hero-option {
        margin-left: 50px;
    }
    .info-description {
        width: auto;
    }
    .hero-slider {
        flex-direction: column;
        margin-top: 20px;
        padding-top: 15px;
        width: 100%;
        gap: 20px;
    }

    .slider-img img {
        width: 100%;
    }

    /* flash sale section media query */
    .catagory-header {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .catagory-header-title {
        margin-left: 45px;
    }
    .countdown-timer {
        gap: 18px;
    }
    .catagory-icon {
        display: none;
    }

}

/* media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    .navbar {
        display: grid;
        grid-template-areas:
        "nav-logo   nav-icon"
        "nav-menu    nav-menu"
        ;
        gap: 20px;
        align-items: flex-start;
    }

    /* hero section */
    .hero-slider {
        flex-direction: column-reverse;
    }

    /* flash sale section */
    .catagory-icon {
        display: none;
    }
}